<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
    <!-- 示例dubbo服务提供配置 -->
	<!-- dubbo协议 -->
 	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
 	
	<!-- 和本地bean一样实现服务 -->
	<!-- <dubbo:provider timeout="3000" />
 	<dubbo:service interface="cn.uce.ord.api.IOrderApi" ref="orderBiz" version="1.0" />
 	<dubbo:service interface="cn.uce.ord.api.ITraceApi" ref="logisticsTrackBiz" version="1.0" /> -->

</beans>